web:
  build: .
  environment:
      PYTHONUNBUFFERED: 0
  links:
   - db
  volumes:
   - .:/opt/code
  volumes_from:
   - data
  entrypoint:
   - 'python3'
   - 'manage.py'
  command: 
   - 'runserver'
   - '0.0.0.0:8000'
  ports:
   - "0.0.0.0:8000:8000"
data:
  image: aexea/aexea-base
  volumes:
    - /home/uid1000
db:
  image: postgres:9.4
